<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{template}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{base :: head(title='Redefinição de Senha')}"></head>


<body>
<form method="post" th:object="${changePasswordRequestDTO}" th:action="@{/login/changePassword(pswdrst=${pswdrst},uuid=${uuid})}" class="form"
      layout:fragment="page">
    <header class="recovery">
        <img class="logo" th:src="@{/img/logo.svg}" alt="logo"/>
        <h2 class="title-header">ALTERAR SENHA</h2>
        <p class="subtitle-header">Preencha os campos abaixo para definir uma nova senha da sua conta
            Hotmart.</p>
    </header>
    <main>
        <div class="form-field change-password" data-controller="passwordChange">
            <div class="field">
                <div class="input-form" id="password-input">
                    <input th:field="*{password}"
                            type="password"
                            id="senha"
                            maxlength="20"
                            placeholder="Digite sua nova senha"
                            data-passwordChange-target="password"
                            data-action="keyup->passwordChange#passwordAction"
                    />
                    <span id="icon-input-senha" class="material-symbols-outlined"> visibility </span>
                </div>
            </div>

            <div class="field">
                <div class="input-form" id="password-input2">
                    <input th:field="*{passwordRepeat}"
                            type="password"
                            id="senha2"
                            maxlength="20"
                            placeholder="Confirme sua nova senha"
                            data-passwordChange-target="passwordRepeat"
                            data-action="keyup->passwordChange#passwordAction"
                    />
                    <span id="icon-input-senha2" class="material-symbols-outlined"> visibility </span>
                </div>
            </div>
        </div>
        <div class="validation">
            <small class="info">No mínimo 7 caracteres, com ao menos uma letra e um número.</small>
            <div class="error-validation hidden" id="invalid-pass">
                <span class="material-symbols-sharp"> warning </span>
                <small>A senha não corresponde ao requisito da diretiva de senha.</small>
            </div>
            <div class="error-validation hidden" id="no-matchs">
                <span class="material-symbols-sharp"> warning </span>
                <small>As senhas não coincidem.</small>
            </div>
        </div>
        <button class="btn-form change-pass" id="btn-pass-change" disabled>Salvar</button>
    </main>
    <footer th:replace="~{base :: info-company}"></footer>
</form>
</body>

</html>
