<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotmart</title>
  </head>
  <body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f6f6f6">
    <table border="0" cellpadding="0" cellspacing="0" height="100%" style="width: 100%; background: #fafafa">
      <tbody>
        <tr>
          <td>
            <table
              align="center"
              border="0"
              cellpadding="0"
              cellspacing="0"
              height="100%"
              style="margin: 0 auto; width: 100%; max-width: 670px; border-top: 7px solid #f04e23; font-family: Helvetica, arial; background: #fafafa"
            >
              <tbody>
                <tr>
                  <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%">
                              <tbody>
                                <tr>
                                  <td valign="top" style="padding: 9px">
                                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width: 100%">
                                      <tbody>
                                        <tr>
                                          <td
                                            valign="top"
                                            style="padding-right: 9px; padding-left: 9px; padding-top: 50px; padding-bottom: 30px; text-align: center"
                                          >
                                            <img
                                              align="center"
                                              alt=""
                                              src="https://ci3.googleusercontent.com/meips/ADKq_NaWPdqNeRy8un0BqZUL_3-ip-xLoO1jZntToQZsoCCqIOUJGeYHBZT5c5DnALKHNDnWqHt7EiJyICBhi9O7pZceqYB9SB_lu3sNQDgYTlaLULGfVxkPeA=s0-d-e1-ft#http://static.club.hotmart.com/member/img/emails/hotmart-club.png"
                                              style="max-width: 100%; padding-bottom: 0; display: inline; vertical-align: bottom"
                                              class="CToWUd"
                                              data-bit="iit"
                                            />
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>

                        <tr>
                          <td valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td valign="top">
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td valign="top" style="padding-top: 9px; padding-right: 18px; padding-bottom: 35px; padding-left: 18px">
                                            <h1 style="text-align: center; margin: 0; font-size: 28px; padding: 0 60px">
                                              <span style="color: #51585f">Sua área de membros produto teste foi criada com sucesso!</span>
                                            </h1>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>

                        <tr>
                          <td valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100% !important">
                              <tbody>
                                <tr>
                                  <td valign="top">
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; max-width: 100%">
                                      <tbody>
                                        <tr>
                                          <td style="padding-top: 9px; padding-left: 25px; padding-bottom: 9px; padding-right: 25px">
                                            <table
                                              border="0"
                                              cellpadding="18"
                                              cellspacing="0"
                                              width="100%"
                                              style="min-width: 100% !important; border: 2px solid #edeced; background-color: #ffffff; border-radius: 4px"
                                            >
                                              <tbody>
                                                <tr>
                                                  <td valign="top" style="color: #747c83; font-size: 15px; font-weight: normal; line-height: 150%">
                                                    <div style="padding: 35px 60px">
                                                      <strong>
                                                        <span style="color: #747c83">Bem vindo, Vítor!</span>
                                                      </strong>
                                                      <br />
                                                      <br />
                                                      A sua área de membros no <strong><span class="il">Hotmart</span> Club</strong> já está pronta para ser
                                                      utilizada! Vimos que você já possui outro produto cadastrado. Não se preocupe com o acesso! Deixamos tudo
                                                      pronto para que você utilize a mesma senha já cadastrada anteriormente.
                                                      <br />
                                                      <br />Confira abaixo suas informações de acesso:<br />
                                                      <br />
                                                      Link de Acesso: <br />
                                                      <a
                                                        href="https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%2F%2Fprodutoteste-bxwapp.club.hotmart.com/1/0101018f2d86cff2-5660384b-8ca7-4249-a391-cfe30a622642-000000/JDK--BguvVjLnyDI1GEnz4Nqt3s=372"
                                                        style="color: #26abe2"
                                                        target="_blank"
                                                        data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%252F%252Fprodutoteste-bxwapp.club.hotmart.com/1/0101018f2d86cff2-5660384b-8ca7-4249-a391-cfe30a622642-000000/JDK--BguvVjLnyDI1GEnz4Nqt3s%3D372&amp;source=gmail&amp;ust=1731214429770000&amp;usg=AOvVaw0O4E9cPk9vxZH-kK5Lh8wC"
                                                        >https://produtoteste-bxwapp.<wbr />club.<span class="il">hotmart</span>.com</a
                                                      >
                                                      <br /><br />
                                                      E-mail: <br />
                                                      <a style="color: #26abe2">vitucelio@gmail.com</a>
                                                      <br />

                                                      <div
                                                        style="
                                                          font-size: 12px;
                                                          font-style: italic;
                                                          color: #b4b7b9;
                                                          padding-top: 10px;
                                                          margin-top: 30px;
                                                          border-top: 1px solid #efefef;
                                                        "
                                                      >
                                                        <br />Se você tiver dúvidas quanto ao uso, aproveite o excelente material que preparamos para você em
                                                        nossa
                                                        <a
                                                          href="https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%2F%2Fatendimento.hotmart.com.br%2Fhc%2Farticles%2F115000427852-Cadastrando-meu-produto-no-Hotmart-Club-a-%25C3%25A1rea-de-membros-da-Hotmart/1/0101018f2d86cff2-5660384b-8ca7-4249-a391-cfe30a622642-000000/yKEqfUkl-YIjbeDiRLiNKeTdfwM=372"
                                                          style="color: #26abe2"
                                                          target="_blank"
                                                          data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%252F%252Fatendimento.hotmart.com.br%252Fhc%252Farticles%252F115000427852-Cadastrando-meu-produto-no-Hotmart-Club-a-%2525C3%2525A1rea-de-membros-da-Hotmart/1/0101018f2d86cff2-5660384b-8ca7-4249-a391-cfe30a622642-000000/yKEqfUkl-YIjbeDiRLiNKeTdfwM%3D372&amp;source=gmail&amp;ust=1731214429770000&amp;usg=AOvVaw1ECZzhmFpbvbii_-JQdDQf"
                                                          >Central de Ajuda</a
                                                        >.<br /><br />Com
                                                        <img
                                                          data-emoji="♥"
                                                          style="width: 15px; height: 15px"
                                                          alt="♥"
                                                          aria-label="♥"
                                                          draggable="false"
                                                          src="https://fonts.gstatic.com/s/e/notoemoji/15.1/2665/72.png"
                                                          loading="lazy"
                                                        />, Equipe <span class="il">Hotmart</span>
                                                      </div>
                                                    </div>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td valign="top" style="padding-bottom: 9px">
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="65%">
                                      <tbody>
                                        <tr>
                                          <td valign="top" style="padding: 9px 0px 9px 25px; color: #617279">
                                            <div style="text-align: left; padding-top: 8px; padding-bottom: 8px; font-size: 12px; color: #617279">
                                              <strong
                                                ><span style="color: #f04e23"><span class="il">Hotmart</span> Club</span></strong
                                              >: Entregue conteúdos digitais com facilidade.
                                            </div>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>

                                    <table align="right" border="0" cellpadding="0" cellspacing="0" width="35%">
                                      <tbody>
                                        <tr>
                                          <td valign="top" style="padding: 9px 25px 9px 0px; color: #617279">
                                            <div style="text-align: right">
                                              <a
                                                href="http://rnpf31dg.r.us-west-2.awstrack.me/L0/http:%2F%2Fhotmart.com/1/0101018f2d86cff2-5660384b-8ca7-4249-a391-cfe30a622642-000000/dnuq0fOzjTdlX_UzeqbmhLKC6Do=372"
                                                target="_blank"
                                                data-saferedirecturl="https://www.google.com/url?q=http://rnpf31dg.r.us-west-2.awstrack.me/L0/http:%252F%252Fhotmart.com/1/0101018f2d86cff2-5660384b-8ca7-4249-a391-cfe30a622642-000000/dnuq0fOzjTdlX_UzeqbmhLKC6Do%3D372&amp;source=gmail&amp;ust=1731214429770000&amp;usg=AOvVaw2usCujbQ6do4tzl0Lvigbm"
                                                ><em
                                                  ><img
                                                    align="none"
                                                    height="24"
                                                    src="https://ci3.googleusercontent.com/meips/ADKq_NYFAqZDpMqEyivLzJK2IRwGL6eM3aV6lUJZswOLZinAzQIWsJWjiLc6c_f6_30DgbTsXcE-0uOj_PlOO5zUs1VlxkoZdlJmxxbuzt8rZ-0QvvgCQUtSwf0hw74nag=s0-d-e1-ft#http://static.club.hotmart.com/member/img/emails/powered-by-hotmart.png"
                                                    style="width: 162px; height: 29px; margin: 0px"
                                                    width="162"
                                                    class="CToWUd"
                                                    data-bit="iit" /></em
                                              ></a>
                                            </div>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
