<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotmart</title>
  </head>
  <body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f6f6f6">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tbody>
        <tr>
          <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td align="center" valign="top" width="100%" bgcolor="#053d4e">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px">
                      <tbody>
                        <tr>
                          <td align="center" valign="top" style="padding: 60px 0 60px 0">
                            <img
                              src="https://ci3.googleusercontent.com/meips/ADKq_NbUp_0lh2PrWPCYLAw2a2s7EN0yCAlZbgurdOZhuItm0ec68QMfhQnKcGOV3BXr2uXD0IvVd39magA_4Oj1u1_yW5tddfXAkwOqBsKTLfElse52n_8qUQoBZeVopmbAa5fI-AKk9A=s0-d-e1-ft#https://s3.amazonaws.com/static.hotmart.com/emails-hotmart/img/hotmart-color.png"
                              width="150"
                              height="53"
                              border="0"
                              style="display: block"
                              class="CToWUd"
                              data-bit="iit"
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="100%" valign="top" width="100%" bgcolor="#f6f6f6" style="background: #f6f6f6; padding: 0 20px 0 20px">
            <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" style="max-width: 600px">
              <tbody>
                <tr>
                  <td height="100%" valign="top" width="100%" bgcolor="#ffffff" style="padding: 36px 36px 36px 36px; background: #ffffff">
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                      "
                    >
                      Seu token de validação é:
                    </p>
                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                      <tbody>
                        <tr>
                          <td
                            align="center"
                            height="24px"
                            valign="top"
                            width="100%"
                            background="https://ci3.googleusercontent.com/meips/ADKq_Nbq8xah1644MINOO7sIfIpoJPH9Wb6yDqrIfiFcZ-dXdcegBcDkI52TjpAZrgt01DTErooVCMpYsNrjPuMiiOdqXY93Ba8bcywSTrCcovaypxAFO9c6gXmw-woR9Al_4ZYIaixQUDS3-VioOLwuMsQ75M0nsQ=s0-d-e1-ft#https://s3.amazonaws.com/static.hotmart.com/emails-hotmart/img/note__border--bottom--yellow.png"
                            bgcolor="#fffbcc"
                            style="background: #fffbcc bottom repeat-x; padding: 0 0 0 0; height: 27px; min-height: 27px"
                          ></td>
                        </tr>
                        <tr>
                          <td style="padding: 0 24px 0 24px; font-family: Courier New, Open Sans, Helvetica, Arial, sans-serif" bgcolor="#fffbcc">
                            <p style="color: #5d5d4b; font-size: 16px; line-height: inherit; margin: 0 0 12px 0"><strong>Token:</strong> 632277</p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            align="center"
                            height="24px"
                            valign="top"
                            width="100%"
                            bgcolor="#fffbcc"
                            style="background: #fffbcc top repeat-x; padding: 0 0 0 0; height: 27px; min-height: 27px"
                          ></td>
                        </tr>
                        <tr>
                          <td height="24"></td>
                        </tr>
                      </tbody>
                    </table>
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                      "
                    >
                      Muito Obrigado!
                    </p>
                  </td>
                </tr>
                <tr>
                  <td height="100%" valign="top" width="100%" bgcolor="#ffffff" style="padding: 0px 36px 0px 36px; background: #ffffff"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td align="center" valign="top" width="100%">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" style="max-width: 600px">
                      <tbody>
                        <tr>
                          <td align="center" valign="top" style="padding: 40px 0 40px 0">
                            <img
                              src="https://ci3.googleusercontent.com/meips/ADKq_NYbU-OwCqkUsYeveLhxF5Y1NdWaMa4Si94FwIGZ-XbWFs1il2Nou9yfeGenFvpjlIHrM0gwlrnsEe3TeES0FT4jostEKaLqoMMSNqIHe9gPkwnphwanZcbYmpz2RqCT3h6cmuIy=s0-d-e1-ft#https://s3.amazonaws.com/static.hotmart.com/emails-hotmart/img/hotmart-gray.png"
                              width="100"
                              height="35"
                              border="0"
                              style="display: block"
                              class="CToWUd"
                              data-bit="iit"
                            />
                          </td>
                        </tr>
                        <tr>
                          <td align="left" height="100%" valign="top" width="100%" style="padding: 20px">
                            <p
                              style="
                                color: #999999;
                                margin: 0px 0 20px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                                font-size: 12px;
                                text-align: center;
                                line-height: 1.44;
                                display: block;
                              "
                            >
                              Não responda a este e-mail. Em caso de dúvidas, entre em contato com o nosso
                              <a
                                href="https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%2F%2Fhelp.hotmart.com/1/0101018457b75881-2b733057-05af-466b-91d6-26d5f854770d-000000/1jsQDQw2Mns4V5A4P_nkBw4NZF0=295"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%252F%252Fhelp.hotmart.com/1/0101018457b75881-2b733057-05af-466b-91d6-26d5f854770d-000000/1jsQDQw2Mns4V5A4P_nkBw4NZF0%3D295&amp;source=gmail&amp;ust=1731214430787000&amp;usg=AOvVaw2sOMy8sBfMB_hwHg2YqIM-"
                              >
                                suporte</a
                              >.
                            </p>
                            <p
                              style="
                                color: #999999;
                                margin: 0px 0 20px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                                font-size: 12px;
                                text-align: center;
                                line-height: 1.44;
                                display: block;
                              "
                            >
                              Para maiores informações sobre sua conta,
                              <a
                                href="https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%2F%2Fapp-vlc.hotmart.com%2Flogin/1/0101018457b75881-2b733057-05af-466b-91d6-26d5f854770d-000000/fnzz8egC7DAIKBGdEY4Ko6M4RlY=295"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%252F%252Fapp-vlc.hotmart.com%252Flogin/1/0101018457b75881-2b733057-05af-466b-91d6-26d5f854770d-000000/fnzz8egC7DAIKBGdEY4Ko6M4RlY%3D295&amp;source=gmail&amp;ust=1731214430787000&amp;usg=AOvVaw3GjGeg93ncQ1eggoCQO09c"
                                >acesse a plataforma</a
                              >.
                            </p>
                            <p
                              style="
                                color: #999999;
                                margin: 0px 0 20px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                                font-size: 12px;
                                text-align: center;
                                line-height: 1.44;
                                display: block;
                              "
                            >
                              Para acessar os termos de Compra,
                              <a
                                href="https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%2F%2Fwww.hotmart.com%2Flegal/1/0101018457b75881-2b733057-05af-466b-91d6-26d5f854770d-000000/LyC8dxRHHbjIGb1ScV2CUYciDew=295"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%252F%252Fwww.hotmart.com%252Flegal/1/0101018457b75881-2b733057-05af-466b-91d6-26d5f854770d-000000/LyC8dxRHHbjIGb1ScV2CUYciDew%3D295&amp;source=gmail&amp;ust=1731214430787000&amp;usg=AOvVaw0BQpuNUOVHnuItr03NnTDR"
                                >clique aqui.</a
                              >
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
