<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotmart</title>
  </head>
  <body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f6f6f6">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tbody>
        <tr>
          <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td align="center" valign="top" width="100%" bgcolor="#053d4e">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px">
                      <tbody>
                        <tr>
                          <td align="center" valign="top" style="padding: 60px 0 60px 0">
                            <img
                              src="https://ci3.googleusercontent.com/meips/ADKq_NZuv8sp7BGFkdeCVWT3eCfxYR8yzuMT-6ckCkwYVlg3rl3PrdrNnGJx2D57ym7ZzGh9wLWn4587zwVH-aQWzISRKEjFmxYW9-CNN5rapZpGbYn72Vo=s0-d-e1-ft#https://static.hotmart.com/emails-hotmart/img/hotmart-color.png"
                              width="150"
                              height="53"
                              border="0"
                              style="display: block"
                              class="CToWUd"
                              data-bit="iit"
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="100%" valign="top" width="100%" bgcolor="#f6f6f6" style="background: #f6f6f6; padding: 0 20px 0 20px">
            <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" style="max-width: 600px">
              <tbody>
                <tr>
                  <td height="100%" valign="top" width="100%" bgcolor="#ffffff" style="padding: 36px 36px 36px 36px; background: #ffffff">
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                        font-weight: normal;
                      "
                    >
                      <strong>Olá, Vítor</strong>
                    </p>
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                        font-weight: normal;
                      "
                    >
                      Seu código de segurança é:
                    </p>
                    <h1 style="margin: 0 0 24px 0; color: #6d6f71; font-family: Open Sans, Helvetica, Arial, sans-serif">036714</h1>
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                        font-weight: normal;
                      "
                    >
                      Esta solicitação é referente a <strong>Arquitetura Orientada a Eventos com Spring Boot</strong> e o código da transação é
                      <strong>HP1666079623</strong>.
                    </p>
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                        font-weight: normal;
                      "
                    >
                      <strong>Ele é válido por 15 minutos.</strong> Para manter sua segurança, não compartilhe com outras pessoas.
                    </p>
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                        font-weight: normal;
                      "
                    >
                      Se você não fez esta solicitação, ou se acredita que outra pessoa tenha acessado sua conta, entre em contato conosco imediatamente através
                      do nosso
                      <a
                        href="https://links.hotmart.com/ls/click?upn=u001.m3eX8kAeFKhrbI1I3V6U8mTgCFI0wiH8HLefuEL4YdmrzRdLKPoB5M0KyR68R-2FUi3AFB0OgshvdB8ACEEdr1ZA-3D-3DxIVS_9uij4gmBn4pYFVMcgRm1sZ70eeJWYVETi8MrlEsvmRIy9smC1TThCUbw-2F1TXahJizY4A4PgpWYuetPL647oAdjzVCbQIGBZhRst7UiizcN8mJ-2B9cos9bSDrGvtStsxd9y8q4n0SUv-2BLRMXsYW2HINefSIH5zd-2BKGXXVpHlgpowT606p9xVQQi3fAjaVVVw-2BxHx3F9d43Xv3xamk41l2jrBNhS9iXOJpi5Fa29v1QvMjnV6zNtns5tBIfKAAzSTrEZfAfVNjGcuTI7KOldtTcuSfJgBVnxb8NyAJESh6ndWwSc1JG8LKVdUmmXgR9bvYLfFBU8rLh2nvBykp9RMVvcyd1WHoKhmhCqFLEABNpebLATSMKKi27qaQ-2B8vbbltokkRdcSWxOwRLU-2Bp-2FZqxpl1eob6bqLUpC-2F9aPHVZ7Nh8g-3D"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://links.hotmart.com/ls/click?upn%3Du001.m3eX8kAeFKhrbI1I3V6U8mTgCFI0wiH8HLefuEL4YdmrzRdLKPoB5M0KyR68R-2FUi3AFB0OgshvdB8ACEEdr1ZA-3D-3DxIVS_9uij4gmBn4pYFVMcgRm1sZ70eeJWYVETi8MrlEsvmRIy9smC1TThCUbw-2F1TXahJizY4A4PgpWYuetPL647oAdjzVCbQIGBZhRst7UiizcN8mJ-2B9cos9bSDrGvtStsxd9y8q4n0SUv-2BLRMXsYW2HINefSIH5zd-2BKGXXVpHlgpowT606p9xVQQi3fAjaVVVw-2BxHx3F9d43Xv3xamk41l2jrBNhS9iXOJpi5Fa29v1QvMjnV6zNtns5tBIfKAAzSTrEZfAfVNjGcuTI7KOldtTcuSfJgBVnxb8NyAJESh6ndWwSc1JG8LKVdUmmXgR9bvYLfFBU8rLh2nvBykp9RMVvcyd1WHoKhmhCqFLEABNpebLATSMKKi27qaQ-2B8vbbltokkRdcSWxOwRLU-2Bp-2FZqxpl1eob6bqLUpC-2F9aPHVZ7Nh8g-3D&amp;source=gmail&amp;ust=1731214427792000&amp;usg=AOvVaw2QJ24acw2tuO02ANGJXB5k"
                      >
                        Suporte</a
                      >.
                    </p>
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                        font-weight: normal;
                      "
                    >
                      Abraços,<br />Equipe <span class="il">Hotmart</span>.
                    </p>
                  </td>
                </tr>
                <tr>
                  <td height="100%" valign="top" width="100%" bgcolor="#ffffff" style="padding: 0px 36px 0px 36px; background: #ffffff"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="">
              <tbody>
                <tr>
                  <td align="center" valign="top" width="100%">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" bgcolor="" style="max-width: 600px">
                      <tbody>
                        <tr>
                          <td align="center" valign="top" style="padding: 40px 0 40px 0">
                            <img
                              src="https://ci3.googleusercontent.com/meips/ADKq_NZba6jnKgUBSMCqsWAUtQQNsuCEy2MVnd-ej8ZOcJeoy6IKTGt8o1qw8I2iTNW-HaD_T7AqOZY3xVDWIpsSg7KKKbXmd-RlhWzV2KKGRDEmxtzqXg=s0-d-e1-ft#https://static.hotmart.com/emails-hotmart/img/hotmart-gray.png"
                              width="100"
                              height="35"
                              border="0"
                              style="display: block"
                              class="CToWUd"
                              data-bit="iit"
                            />
                          </td>
                        </tr>
                        <tr>
                          <td align="left" height="100%" valign="top" width="100%" style="padding: 20px">
                            <p
                              style="
                                color: #999999;
                                margin: 0px 0 20px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                                font-size: 12px;
                                text-align: center;
                                line-height: 1.44;
                                display: block;
                                font-weight: normal;
                              "
                            >
                              Não responda a este e-mail. Em caso de dúvidas, entre em contato com o nosso
                              <a
                                href="https://links.hotmart.com/ls/click?upn=u001.y18TlGP3HAMHGZ5zqnzME7SIfEuNkV6d-2BS-2BBxmUDL-2Fo-3DKMDl_9uij4gmBn4pYFVMcgRm1sZ70eeJWYVETi8MrlEsvmRIy9smC1TThCUbw-2F1TXahJizY4A4PgpWYuetPL647oAdjzVCbQIGBZhRst7UiizcN8mJ-2B9cos9bSDrGvtStsxd9y8q4n0SUv-2BLRMXsYW2HINefSIH5zd-2BKGXXVpHlgpowT606p9xVQQi3fAjaVVVw-2BxHx3F9d43Xv3xamk41l2jrBNhS9iXOJpi5Fa29v1QvMjnV6zNtns5tBIfKAAzSTrEZfAfVNjGcuTI7KOldtTcuWLTyYr9I7-2Fk8sG9-2BVYbTzDgqv7dgraqfpPH0xOSgp-2B3EOGLVl9DdYZrtIeIra9it4yJsqiYT2pcA33uO2CURBTOzE6f7q51RxA69zHJc-2BiVo7VWMKHT9i6oKcJOmZ-2FblAVi9UQf3bQNbKOSRhIF7t0-3D"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://links.hotmart.com/ls/click?upn%3Du001.y18TlGP3HAMHGZ5zqnzME7SIfEuNkV6d-2BS-2BBxmUDL-2Fo-3DKMDl_9uij4gmBn4pYFVMcgRm1sZ70eeJWYVETi8MrlEsvmRIy9smC1TThCUbw-2F1TXahJizY4A4PgpWYuetPL647oAdjzVCbQIGBZhRst7UiizcN8mJ-2B9cos9bSDrGvtStsxd9y8q4n0SUv-2BLRMXsYW2HINefSIH5zd-2BKGXXVpHlgpowT606p9xVQQi3fAjaVVVw-2BxHx3F9d43Xv3xamk41l2jrBNhS9iXOJpi5Fa29v1QvMjnV6zNtns5tBIfKAAzSTrEZfAfVNjGcuTI7KOldtTcuWLTyYr9I7-2Fk8sG9-2BVYbTzDgqv7dgraqfpPH0xOSgp-2B3EOGLVl9DdYZrtIeIra9it4yJsqiYT2pcA33uO2CURBTOzE6f7q51RxA69zHJc-2BiVo7VWMKHT9i6oKcJOmZ-2FblAVi9UQf3bQNbKOSRhIF7t0-3D&amp;source=gmail&amp;ust=1731214427792000&amp;usg=AOvVaw1FbTx_XAuZPNRHaBi_DagR"
                              >
                                suporte</a
                              >.
                            </p>
                            <p
                              style="
                                color: #999999;
                                margin: 0px 0 20px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                                font-size: 12px;
                                text-align: center;
                                line-height: 1.44;
                                display: block;
                                font-weight: normal;
                              "
                            >
                              Para maiores informações sobre sua conta,
                              <a
                                href="https://links.hotmart.com/ls/click?upn=u001.m3eX8kAeFKhrbI1I3V6U8gbnr7tIsp1HxNdYj2p9dGbAMPebsipF8fiIaxjQKvks39vO_9uij4gmBn4pYFVMcgRm1sZ70eeJWYVETi8MrlEsvmRIy9smC1TThCUbw-2F1TXahJizY4A4PgpWYuetPL647oAdjzVCbQIGBZhRst7UiizcN8mJ-2B9cos9bSDrGvtStsxd9y8q4n0SUv-2BLRMXsYW2HINefSIH5zd-2BKGXXVpHlgpowT606p9xVQQi3fAjaVVVw-2BxHx3F9d43Xv3xamk41l2jrBNhS9iXOJpi5Fa29v1QvMjnV6zNtns5tBIfKAAzSTrEZfAfVNjGcuTI7KOldtTcue8wM-2FtQbh-2Frv4-2BZ4hxZFz-2BqhubtqVcGlMcFxMiyOiBf19Rbr1bDtc9qx-2Bh7fbrrqxMYqpNr7GFvhTcjtAsbeSITRaQY683M5HTa82LEmHYDn3H6vYaxSmRUp1EKLLlLddmKv62hyJlUmK-2B7n4I-2FUAs-3D"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://links.hotmart.com/ls/click?upn%3Du001.m3eX8kAeFKhrbI1I3V6U8gbnr7tIsp1HxNdYj2p9dGbAMPebsipF8fiIaxjQKvks39vO_9uij4gmBn4pYFVMcgRm1sZ70eeJWYVETi8MrlEsvmRIy9smC1TThCUbw-2F1TXahJizY4A4PgpWYuetPL647oAdjzVCbQIGBZhRst7UiizcN8mJ-2B9cos9bSDrGvtStsxd9y8q4n0SUv-2BLRMXsYW2HINefSIH5zd-2BKGXXVpHlgpowT606p9xVQQi3fAjaVVVw-2BxHx3F9d43Xv3xamk41l2jrBNhS9iXOJpi5Fa29v1QvMjnV6zNtns5tBIfKAAzSTrEZfAfVNjGcuTI7KOldtTcue8wM-2FtQbh-2Frv4-2BZ4hxZFz-2BqhubtqVcGlMcFxMiyOiBf19Rbr1bDtc9qx-2Bh7fbrrqxMYqpNr7GFvhTcjtAsbeSITRaQY683M5HTa82LEmHYDn3H6vYaxSmRUp1EKLLlLddmKv62hyJlUmK-2B7n4I-2FUAs-3D&amp;source=gmail&amp;ust=1731214427792000&amp;usg=AOvVaw2sCuHT5V4wPyRXn94iohT9"
                                >acesse a plataforma</a
                              >.
                            </p>
                            <p
                              style="
                                color: #999999;
                                margin: 0px 0 20px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                                font-size: 12px;
                                text-align: center;
                                line-height: 1.44;
                                display: block;
                                font-weight: normal;
                              "
                            >
                              Para acessar os termos de Compra,
                              <a
                                href="https://links.hotmart.com/ls/click?upn=u001.-2Bq7DUpQscP0kKbwtOOnPl2c36d8V3fG-2B9TkplpXH3dAwh5z-2FGoK44lr5KMdusquaAMfM_9uij4gmBn4pYFVMcgRm1sZ70eeJWYVETi8MrlEsvmRIy9smC1TThCUbw-2F1TXahJizY4A4PgpWYuetPL647oAdjzVCbQIGBZhRst7UiizcN8mJ-2B9cos9bSDrGvtStsxd9y8q4n0SUv-2BLRMXsYW2HINefSIH5zd-2BKGXXVpHlgpowT606p9xVQQi3fAjaVVVw-2BxHx3F9d43Xv3xamk41l2jrBNhS9iXOJpi5Fa29v1QvMjnV6zNtns5tBIfKAAzSTrEZfAfVNjGcuTI7KOldtTcuei5-2BKUy-2FPv-2F2lF3aEsNbcGuiEWYE219KHS5O9czIDqS15ULU-2Bvb2EKR19Si9jm73SWP6bcC6WTJKocSLmYxGHRLKiyPZzhbX87IQLyWz2UyH7a-2BEKlNPSDtWjyEFP-2Fuwrs6-2F8Xsh0ysLlMKgxuvs3A-3D"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://links.hotmart.com/ls/click?upn%3Du001.-2Bq7DUpQscP0kKbwtOOnPl2c36d8V3fG-2B9TkplpXH3dAwh5z-2FGoK44lr5KMdusquaAMfM_9uij4gmBn4pYFVMcgRm1sZ70eeJWYVETi8MrlEsvmRIy9smC1TThCUbw-2F1TXahJizY4A4PgpWYuetPL647oAdjzVCbQIGBZhRst7UiizcN8mJ-2B9cos9bSDrGvtStsxd9y8q4n0SUv-2BLRMXsYW2HINefSIH5zd-2BKGXXVpHlgpowT606p9xVQQi3fAjaVVVw-2BxHx3F9d43Xv3xamk41l2jrBNhS9iXOJpi5Fa29v1QvMjnV6zNtns5tBIfKAAzSTrEZfAfVNjGcuTI7KOldtTcuei5-2BKUy-2FPv-2F2lF3aEsNbcGuiEWYE219KHS5O9czIDqS15ULU-2Bvb2EKR19Si9jm73SWP6bcC6WTJKocSLmYxGHRLKiyPZzhbX87IQLyWz2UyH7a-2BEKlNPSDtWjyEFP-2Fuwrs6-2F8Xsh0ysLlMKgxuvs3A-3D&amp;source=gmail&amp;ust=1731214427792000&amp;usg=AOvVaw2lZfx_S6_Bhis5hRUgtJkH"
                                >clique aqui.</a
                              >
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
