<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotmart</title>
  </head>
  <body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f6f6f6">
    <div style="margin: 0; padding: 0; background-color: #fff; display: flex; justify-content: center">
      <div style="max-width: 600px">
        <div style="height: 96px; background-color: #f7f9fa; padding: 0 40px; margin-bottom: 32px">
          <img
            style="display: block; float: left; margin-top: 32px"
            src="https://ci3.googleusercontent.com/meips/ADKq_NYAu6rcJAezxjrQT-ae9URqLv7D08fb1r3JvpTBX49J0aGk9D2RDVzyIfYk7s1geS4S8sTvdQ34hvRhB4pjV2jg4VwxQ8ZGAhmWKh7K0IE=s0-d-e1-ft#https://static.hotmart.com/emails-hotmart/img/hotmart.png"
            height="32"
            border="0"
            class="CToWUd"
            data-bit="iit"
          />
        </div>
        <div>
          Parabéns pela compra, Vítor! <br /><br />
          Agora você já pode acessar <strong>Arquitetura Orientada a Eventos com Spring Boot</strong> e aproveitar todo esse conteúdo preparado para você.
        </div>
        <div style="border-top: 1.5px solid #e6e9ed; margin: 40px; margin-top: 32px; margin-bottom: 32px"></div>
        <div>
          <div style="display: table; width: 100%">
            <div style="display: table-row">
              <div style="display: table-cell; padding-right: 10px; width: 128px; height: 128px">
                <img
                  style="border-radius: 4px"
                  src="https://ci3.googleusercontent.com/meips/ADKq_NanOTjhb_8I9cOsjzP7x0OvIY4-qNAWSWrWPnCo8DTSQ7WIUgTRb4ZQoJocl14xl9ojaNtkTD18FIxjkfLpdTf_M31ARc4Z2zLJ_6qkEnTBO2SAX2RpymYgieBV9ZpyFOfOQcOnamDg-cJ1BpQQghYvf94AiPSlJMzqoTIXHRNLtj9hNyDOzTqeAZAp23c=s0-d-e1-ft#https://hotmart.s3.amazonaws.com/product_pictures/8f2b719a-0425-4361-97df-8ee3ad9efae8/CapturadeTela20230202as093513.png"
                  width="128"
                  height="128"
                  class="CToWUd"
                  data-bit="iit"
                />
              </div>
              <div style="margin-right: 24px; display: table-cell; vertical-align: top; padding-right: 10px; padding-left: 24px">
                <h1 style="margin-top: 0; font-size: 24px">Arquitetura Orientada a Eventos com Spring Boot</h1>
                <p style="margin-bottom: 16px">Criado por&nbsp;DPSJR</p>
              </div>
            </div>
          </div>
          <div style="display: table; width: 100%; margin-top: 24px; margin-bottom: 24px">
            <div style="display: table-row">
              <div style="display: table-cell">
                <a
                  style="
                    padding: 8px 16px;
                    background-color: #5981e3;
                    border-radius: 4px;
                    text-decoration: none;
                    color: #fff;
                    text-align: center;
                    display: block;
                  "
                  href="https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%2F%2Fconsumer.hotmart.com%2Fpurchase%2F2618873%3Futm_medium=email%26utm_source=platform%26utm_campaign=all_journey_access-after-purchase_hiperlink_ebook-old-user/1/0101019274c5b799-a7f9485b-1969-4111-926b-2b0a4e2c0c1a-000000/nqkJpX0JSFOACqrp1MhDNz58Y-A=396"
                  target="_blank"
                  data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%252F%252Fconsumer.hotmart.com%252Fpurchase%252F2618873%253Futm_medium%3Demail%2526utm_source%3Dplatform%2526utm_campaign%3Dall_journey_access-after-purchase_hiperlink_ebook-old-user/1/0101019274c5b799-a7f9485b-1969-4111-926b-2b0a4e2c0c1a-000000/nqkJpX0JSFOACqrp1MhDNz58Y-A%3D396&amp;source=gmail&amp;ust=1731214427801000&amp;usg=AOvVaw3HXflbcsSvGBpef4qfZLSq"
                  >Acessar conteúdo</a
                >
              </div>
            </div>
          </div>
        </div>
        <div style="border-top: 1.5px solid #e6e9ed; margin: 40px; margin-top: 32px; margin-bottom: 32px"></div>
        <div>
          <div style="padding: 24px; background-color: #f7f9fa">
            <p><strong>Resumo da compra</strong></p>
            <p>
              <strong>Código da transação</strong>: HP1666079623<br /><strong>Valor</strong>: R$ 21,99<br /><strong>Data da compra</strong>: 10/10/2024
              01:52:41<br /><strong>Email da compra</strong>: <a href="mailto:vitucelio@gmail.com" target="_blank">vitucelio@gmail.com</a>
            </p>
          </div>
          <div style="background-color: #f0f4ff; font-size: 12px; padding: 24px; padding-bottom: 18px; padding-top: 18px">
            <p style="font-size: 16px; font-weight: 700; color: #5981e3">
              Precisa de ajuda para acessar seu conteúdo?
              <img
                data-emoji="🤓"
                class="an1"
                alt="🤓"
                aria-label="🤓"
                draggable="false"
                src="https://fonts.gstatic.com/s/e/notoemoji/15.1/1f913/72.png"
                loading="lazy"
              />
            </p>
            <div style="display: flex">
              <div style="vertical-align: bottom">
                <p style="font-weight: 700">Preparamos um passo a passo para você:</p>
                1.&nbsp;Digite no seu navegador ou clique em
                <a
                  href="https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%2F%2Fconsumer.hotmart.com%2F%3Futm_medium=email%26utm_source=platform%26utm_campaign=all_journey_access-after-purchase_hiperlink_ebook-old-user/1/0101019274c5b799-a7f9485b-1969-4111-926b-2b0a4e2c0c1a-000000/cLaeziLDrf4vydNhxi3hOURgqwg=396"
                  target="_blank"
                  data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%252F%252Fconsumer.hotmart.com%252F%253Futm_medium%3Demail%2526utm_source%3Dplatform%2526utm_campaign%3Dall_journey_access-after-purchase_hiperlink_ebook-old-user/1/0101019274c5b799-a7f9485b-1969-4111-926b-2b0a4e2c0c1a-000000/cLaeziLDrf4vydNhxi3hOURgqwg%3D396&amp;source=gmail&amp;ust=1731214427801000&amp;usg=AOvVaw1fMJrFgR1iFpeTYF2y05Tk"
                  >consumer.<span class="il">hotmart</span>.com</a
                ><br />2.&nbsp;Em "Usuário ou email", informe o email que você usou para realizar a compra.<br />3.&nbsp;No campo "Senha", informe a senha da
                sua conta <span class="il">Hotmart</span>.
              </div>
            </div>
            <p style="padding-top: 16px">
              Caso você não tenha uma senha de uma conta da <span class="il">Hotmart</span> ou se tiver esquecido, é só gerar uma nova senha nesse link:
              <a
                href="https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%2F%2Fapp-vlc.hotmart.com%2Fpassword%2Fforgot/1/0101019274c5b799-a7f9485b-1969-4111-926b-2b0a4e2c0c1a-000000/jU5nf6fLP6iwvtGIlrDfh0SFapk=396"
                target="_blank"
                data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%252F%252Fapp-vlc.hotmart.com%252Fpassword%252Fforgot/1/0101019274c5b799-a7f9485b-1969-4111-926b-2b0a4e2c0c1a-000000/jU5nf6fLP6iwvtGIlrDfh0SFapk%3D396&amp;source=gmail&amp;ust=1731214427801000&amp;usg=AOvVaw3EFGlJiuuKL_cBkDxqJd5m"
                >Gerar nova senha</a
              >.
            </p>
          </div>
          <p>
            Você também pode acessar esse produto na seção
            <a
              href="https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%2F%2Fconsumer.hotmart.com%2F%3Futm_medium=email%26utm_source=platform%26utm_campaign=all_journey_access-after-purchase_hiperlink_ebook-old-user/2/0101019274c5b799-a7f9485b-1969-4111-926b-2b0a4e2c0c1a-000000/BbqnWHhKKYQYGrad9pgDE0ITCoo=396"
              target="_blank"
              data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%252F%252Fconsumer.hotmart.com%252F%253Futm_medium%3Demail%2526utm_source%3Dplatform%2526utm_campaign%3Dall_journey_access-after-purchase_hiperlink_ebook-old-user/2/0101019274c5b799-a7f9485b-1969-4111-926b-2b0a4e2c0c1a-000000/BbqnWHhKKYQYGrad9pgDE0ITCoo%3D396&amp;source=gmail&amp;ust=1731214427801000&amp;usg=AOvVaw2gqtvAiBe9NrSSckPG_whW"
              >Minhas compras</a
            >.
          </p>
          <p>
            Abraços, <br />
            Equipe <span class="il">Hotmart</span>.
          </p>
        </div>
        <div style="background-color: #f7f9fa; color: #707780; font-size: 10px; padding: 24px; margin-top: 16px; text-align: center">
          <img
            src="https://ci3.googleusercontent.com/meips/ADKq_NZba6jnKgUBSMCqsWAUtQQNsuCEy2MVnd-ej8ZOcJeoy6IKTGt8o1qw8I2iTNW-HaD_T7AqOZY3xVDWIpsSg7KKKbXmd-RlhWzV2KKGRDEmxtzqXg=s0-d-e1-ft#https://static.hotmart.com/emails-hotmart/img/hotmart-gray.png"
            height="32"
            border="0"
            style="margin: 8px"
            class="CToWUd"
            data-bit="iit"
          />
          <p>
            Baixe o app da <span class="il">Hotmart</span>! <br />
            Disponível nas principais plataformas digitais.
          </p>
          <div style="margin-bottom: 28px">
            <a
              href="https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%2F%2Fhotm.art%2FW9eo7I/1/0101019274c5b799-a7f9485b-1969-4111-926b-2b0a4e2c0c1a-000000/RNoxPAIiSF_qqMQOUUkv83mMZMo=396"
              target="_blank"
              data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%252F%252Fhotm.art%252FW9eo7I/1/0101019274c5b799-a7f9485b-1969-4111-926b-2b0a4e2c0c1a-000000/RNoxPAIiSF_qqMQOUUkv83mMZMo%3D396&amp;source=gmail&amp;ust=1731214427801000&amp;usg=AOvVaw2psb8Acy2KD-1Q3lOgD2dF"
              ><img
                src="https://ci3.googleusercontent.com/meips/ADKq_Nac4ulYulWNtR84LtKWiWEtuJDV1PhNZulxEZz7tjmEb1qMxDlFQPmKDkuZ1o2RuQelHZ_fMMTCQJfxqGfW1oja078Beoy6E-KH2uOr5Yd_saob0Vw9vwKIewYX1-qsOCcU=s0-d-e1-ft#https://static.hotmart.com/emails-hotmart/img/purchase-google-play-badge.png"
                height="32px"
                class="CToWUd"
                data-bit="iit" /></a
            ><a
              href="https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%2F%2Fhotm.art%2FHfUnl7O/1/0101019274c5b799-a7f9485b-1969-4111-926b-2b0a4e2c0c1a-000000/5kO5rbpcfDpyegADQYB7avsng_g=396"
              style="margin-left: 10px"
              target="_blank"
              data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%252F%252Fhotm.art%252FHfUnl7O/1/0101019274c5b799-a7f9485b-1969-4111-926b-2b0a4e2c0c1a-000000/5kO5rbpcfDpyegADQYB7avsng_g%3D396&amp;source=gmail&amp;ust=1731214427801000&amp;usg=AOvVaw1qvVZURXtkAJa28TFJSWJ1"
              ><img
                src="https://ci3.googleusercontent.com/meips/ADKq_NY6aNkfGBE990KC0_YLnWXbTTgfMrcFkEp2l-9-UiK1CNmrTNlVfsEFt3dQIQbrh3yz8tTf9IyH-5tz8s9m-NaTI9kwO391dgcoRl1yL1lgX8Gqp96sI1COYELwTY4_1Q=s0-d-e1-ft#https://static.hotmart.com/emails-hotmart/img/purchase-app-store-badge.png"
                height="32px"
                class="CToWUd"
                data-bit="iit"
            /></a>
          </div>
          <p>
            Não responda a este email. <br />
            Em caso de dúvidas, entre em contato com nosso suporte ou acesse nossa
            <a
              href="https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%2F%2Fhelp.hotmart.com%2F/1/0101019274c5b799-a7f9485b-1969-4111-926b-2b0a4e2c0c1a-000000/l02Qvh_b7sgFeI8tvsx7GNkjHE0=396"
              target="_blank"
              data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%252F%252Fhelp.hotmart.com%252F/1/0101019274c5b799-a7f9485b-1969-4111-926b-2b0a4e2c0c1a-000000/l02Qvh_b7sgFeI8tvsx7GNkjHE0%3D396&amp;source=gmail&amp;ust=1731214427801000&amp;usg=AOvVaw2RX87iC_-ku9aCoTRjU9xG"
              >Central de ajuda.</a
            >
          </p>
          <p>
            Visualize os
            <a
              href="https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%2F%2Fhotmart.com%2Flegal/1/0101019274c5b799-a7f9485b-1969-4111-926b-2b0a4e2c0c1a-000000/1mc0YTOgC3BGhBDjwqoYiQBa9Q4=396"
              target="_blank"
              data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-west-2.awstrack.me/L0/https:%252F%252Fhotmart.com%252Flegal/1/0101019274c5b799-a7f9485b-1969-4111-926b-2b0a4e2c0c1a-000000/1mc0YTOgC3BGhBDjwqoYiQBa9Q4%3D396&amp;source=gmail&amp;ust=1731214427801000&amp;usg=AOvVaw3VCBxK-9pBvHDosMWt6RGP"
              >Termos de compra.</a
            >
          </p>
        </div>
      </div>
      <img
        alt=""
        src="https://ci3.googleusercontent.com/meips/ADKq_NbYG3KkwQxmtW7zKp_iCF4_KzJxjfT9Ws5BJcTwnJGKp43XEqvYuGoiOsVXE56UJumQttYREdG6Q3_-q_e5fxqhPpYttlhsKP2B202ERd_8f3OsPUeEd3prLGTbYaoZ_nWMmtwCVGbaT6LZiZUO_QSj4L36enCk0O02OKltg0VvtHJcORit2GUNXkqbAGc1JikpXfp1EXvqee1HJbY9ug=s0-d-e1-ft#https://rnpf31dg.r.us-west-2.awstrack.me/I0/0101019274c5b799-a7f9485b-1969-4111-926b-2b0a4e2c0c1a-000000/HRDTiHeKiMqYaEFTeQ9FGFA38_Q=396"
        style="display: none; width: 1px; height: 1px"
        class="CToWUd"
        data-bit="iit"
      />
      <div class="yj6qo"></div>
      <div class="adL"></div>
    </div>
  </body>
</html>
