<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotmart</title>
  </head>
  <body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f6f6f6">
    <div id=":1hx" class="a3s aiL">
      <u></u>
      <div>
        <table
          align="center"
          border="0"
          cellpadding="0"
          cellspacing="0"
          height="100%"
          style="margin: 0 auto; width: 100%; max-width: 670px; border-top: 7px solid #f04e23; font-family: Helvetica, arial; background: #fafafa"
        >
          <tbody>
            <tr>
              <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%">
                          <tbody>
                            <tr>
                              <td valign="top" style="padding: 9px">
                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width: 100%">
                                  <tbody>
                                    <tr>
                                      <td
                                        valign="top"
                                        style="padding-right: 9px; padding-left: 9px; padding-top: 50px; padding-bottom: 30px; text-align: center"
                                      >
                                        <img
                                          align="center"
                                          alt=""
                                          src="https://ci3.googleusercontent.com/meips/ADKq_NaWPdqNeRy8un0BqZUL_3-ip-xLoO1jZntToQZsoCCqIOUJGeYHBZT5c5DnALKHNDnWqHt7EiJyICBhi9O7pZceqYB9SB_lu3sNQDgYTlaLULGfVxkPeA=s0-d-e1-ft#http://static.club.hotmart.com/member/img/emails/hotmart-club.png"
                                          style="max-width: 100%; padding-bottom: 0; display: inline; vertical-align: bottom"
                                          class="CToWUd"
                                          data-bit="iit"
                                        />
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td valign="top">
                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                  <tbody>
                                    <tr>
                                      <td valign="top" style="padding-top: 9px; padding-right: 18px; padding-bottom: 35px; padding-left: 18px">
                                        <h1 style="text-align: center; margin: 0; font-size: 28px; padding: 0 60px">
                                          <span style="color: #51585f">Suas Informações de Acesso</span>
                                        </h1>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100% !important">
                          <tbody>
                            <tr>
                              <td valign="top">
                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; max-width: 100%">
                                  <tbody>
                                    <tr>
                                      <td style="padding-top: 9px; padding-left: 25px; padding-bottom: 9px; padding-right: 25px">
                                        <table
                                          border="0"
                                          cellpadding="18"
                                          cellspacing="0"
                                          width="100%"
                                          style="min-width: 100% !important; border: 2px solid #edeced; background-color: #ffffff; border-radius: 4px"
                                        >
                                          <tbody>
                                            <tr>
                                              <td valign="top" style="color: #747c83; font-size: 15px; font-weight: normal; line-height: 150%">
                                                <div style="padding: 35px 60px">
                                                  <strong><span style="color: #747c83">Olá Vítor,</span></strong
                                                  ><br /><br />
                                                  Estas são suas informações para acesso ao <strong>Prototype Testing</strong>.<br /><br />
                                                  Link de Acesso:
                                                  <a
                                                    href="https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%2F%2Fprototypetesting.club.hotmart.com/1/0100019291d23414-2480d92c-c38a-4f4e-bbda-17e2cb57aba1-000000/4DDuQzcIgOTp6zbbZSHrQEoOPgI=396"
                                                    style="color: #26abe2"
                                                    target="_blank"
                                                    data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%252F%252Fprototypetesting.club.hotmart.com/1/0100019291d23414-2480d92c-c38a-4f4e-bbda-17e2cb57aba1-000000/4DDuQzcIgOTp6zbbZSHrQEoOPgI%3D396&amp;source=gmail&amp;ust=1731214426837000&amp;usg=AOvVaw10JK6k4STzS4IxOQSdInLh"
                                                    >https://prototypetesting.club.<wbr /><span class="il">hotmart</span>.com</a
                                                  ><br />
                                                  Login: <a style="color: #26abe2">vitucelio@gmail.com</a>
                                                  <div
                                                    style="
                                                      font-size: 12px;
                                                      font-style: italic;
                                                      color: #b4b7b9;
                                                      padding-top: 10px;
                                                      margin-top: 30px;
                                                      border-top: 1px solid #efefef;
                                                    "
                                                  >
                                                    <br />
                                                    Caso tenha esquecido a senha, clique no link e depois em "Esqueceu sua senha?"<br /><br />
                                                    Muito Obrigado!, Guilherme Zaia Lorenz
                                                  </div>
                                                </div>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td valign="top" style="padding-bottom: 9px">
                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="65%">
                                  <tbody>
                                    <tr>
                                      <td valign="top" style="padding: 9px 0px 9px 25px; color: #617279">
                                        <div style="text-align: left; padding-top: 8px; padding-bottom: 8px; font-size: 12px; color: #617279">
                                          <strong
                                            ><span style="color: #f04e23"><span class="il">Hotmart</span> Club</span></strong
                                          >: Entregue conteúdos digitais com facilidade.
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table align="right" border="0" cellpadding="0" cellspacing="0" width="35%">
                                  <tbody>
                                    <tr>
                                      <td valign="top" style="padding: 9px 25px 9px 0px; color: #617279">
                                        <div style="text-align: right">
                                          <a
                                            href="http://rnpf31dg.r.us-east-1.awstrack.me/L0/http:%2F%2Fhotmart.com/1/0100019291d23414-2480d92c-c38a-4f4e-bbda-17e2cb57aba1-000000/0WLvYNxdMMe2dQcNgjdV2V52tSk=396"
                                            target="_blank"
                                            data-saferedirecturl="https://www.google.com/url?q=http://rnpf31dg.r.us-east-1.awstrack.me/L0/http:%252F%252Fhotmart.com/1/0100019291d23414-2480d92c-c38a-4f4e-bbda-17e2cb57aba1-000000/0WLvYNxdMMe2dQcNgjdV2V52tSk%3D396&amp;source=gmail&amp;ust=1731214426837000&amp;usg=AOvVaw3k23Z7Ehavqti_jXk1Wdk_"
                                            ><em
                                              ><img
                                                align="none"
                                                height="24"
                                                src="https://ci3.googleusercontent.com/meips/ADKq_NYFAqZDpMqEyivLzJK2IRwGL6eM3aV6lUJZswOLZinAzQIWsJWjiLc6c_f6_30DgbTsXcE-0uOj_PlOO5zUs1VlxkoZdlJmxxbuzt8rZ-0QvvgCQUtSwf0hw74nag=s0-d-e1-ft#http://static.club.hotmart.com/member/img/emails/powered-by-hotmart.png"
                                                style="width: 162px; height: 29px; margin: 0px"
                                                class="CToWUd"
                                                data-bit="iit" /></em
                                          ></a>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table border="0" cellpadding="10" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td valign="top">
                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                  <tbody>
                                    <tr>
                                      <td style="padding-right: 9px; padding-left: 9px" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                          <tbody>
                                            <tr>
                                              <td valign="top" style="padding-top: 0; padding-right: 0; padding-bottom: 9px; padding-left: 0">
                                                <div style="text-align: center">
                                                  <span style="font-size: 11px; color: #a5a7ab; line-height: 14px"
                                                    ><strong>Copyright © 2022 Hotmart. Todos os direitos reservados.<br /></strong>Rua Bernardo Guimarães, 1200
                                                    - 4º andar - Funcionários - Belo Horizonte/MG - Brasil<br
                                                  /></span>
                                                </div>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
