<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotmart</title>
</head>
<body style="margin:0; padding:0; font-family: Arial, sans-serif; background-color: #f6f6f6;">
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
          <tr>
            <td align="center" valign="top" width="100%" bgcolor="#053d4e">
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
                <tbody>
                  <tr>
                    <td align="center" valign="top" style="padding:60px 0">
                      <img src="https://static.hotmart.com/emails-hotmart/img/hotmart-color.png" width="150" height="53" border="0" style="display:block">
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  
  <tr>
    <td bgcolor="#f6f6f6" style="padding:0 20px;">
      <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" style="max-width:600px">
        <tbody>
          <tr>
            <td bgcolor="#ffffff" style="padding:36px;">
              <p style="color:#6d6f71; font-family:Open Sans,Helvetica,Arial,sans-serif; font-size:16px;">Olá, <b>Vítor</b>.</p>
              <p style="color:#6d6f71; font-family:Open Sans,Helvetica,Arial,sans-serif; font-size:16px;">Garanta seu acesso ao produto Curso de Programação do Filipe Deschamps! Lembre-se de pagar o Pix antes que ele expire.</p>
              <p style="color:#6d6f71; font-family:Open Sans,Helvetica,Arial,sans-serif; font-size:16px;">É só copiar e colar o código abaixo no aplicativo do seu banco. Se preferir, você também pode pagar com o QR code usando a câmera do seu celular.</p>
              <p style="color:#6d6f71; font-family:Open Sans,Helvetica,Arial,sans-serif; font-size:16px;"><b>Quando o pagamento for aprovado, você receberá um email com as informações de acesso ao produto.</b></p>
              
              <div style="margin:1em auto 0; border:1px solid #e6e9ed; border-radius:8px; padding:10px">
                <p style="color:#191c1f; font-family:Open Sans,Helvetica,Arial,sans-serif; font-size:16px; text-align:center; font-weight:bold">Código Pix copia e cola:</p>
                <textarea readonly rows="3" style="border:none; background:#fff; color:black; margin:10px auto; width:98%; text-align:center;">00020101021226740014br.gov.bcb.pix2552pix.ebanx.com/qr/v2/C385451472D214275CE92FA773196A915204000053039865802BR5911Ebanx LTDA.6008CURITIBA62070503***6304591E</textarea>
                <a href="https://pay.hotmart.com/thanks?transactionReference=HP1346881934" style="font-size:16px; font-family:Nunito,sans-serif; color:#355cc0; text-decoration:none; display:block; text-align:center; margin-top:16px;">Pagar com QR Code</a>
              </div>

              <hr style="border-top:1px solid #f0f3f7; margin:24px 0;">
              <p style="color:#6d6f71; font-family:Open Sans,Helvetica,Arial,sans-serif; font-size:16px;"><b>Resumo da compra</b></p>
              <p style="color:#6d6f71; font-family:Open Sans,Helvetica,Arial,sans-serif; font-size:16px;"><b>Código da transação:</b> HP1346881934</p>
              <p style="color:#6d6f71; font-family:Open Sans,Helvetica,Arial,sans-serif; font-size:16px;"><b>Valor:</b> R$ 2.100,00</p>
              <p style="color:#6d6f71; font-family:Open Sans,Helvetica,Arial,sans-serif; font-size:16px;"><b>Data da compra:</b> 29/10/2024</p>
              <p style="color:#6d6f71; font-family:Open Sans,Helvetica,Arial,sans-serif; font-size:16px;"><b>Email da compra:</b> <a href="mailto:vitucelio@gmail.com">vitucelio@gmail.com</a></p>
              
              <hr style="border-top:1px solid #f0f3f7; margin:24px 0;">
              <p style="color:#5981e3; font-family:Open Sans,Helvetica,Arial,sans-serif; font-size:16px;"><b>Precisa de ajuda para acessar seu conteúdo?</b></p>
              <p style="color:#6d6f71; font-family:Open Sans,Helvetica,Arial,sans-serif; font-size:16px;">Se você ainda não tem uma conta Hotmart ou se tiver esquecido sua senha, é só <a href="https://sso.hotmart.com/login?renew=true">definir uma nova senha</a>.</p>
              <p style="color:#6d6f71; font-family:Open Sans,Helvetica,Arial,sans-serif; font-size:16px;">Abraços,<br>Equipe Hotmart.</p>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</body>
</html>