<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotmart</title>
  </head>
  <body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f6f6f6">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tbody>
        <tr>
          <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td align="center" valign="top" width="100%" bgcolor="#053d4e">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px">
                      <tbody>
                        <tr>
                          <td align="center" valign="top" style="padding: 60px 0 60px 0">
                            <img
                              src="https://ci3.googleusercontent.com/meips/ADKq_NbUp_0lh2PrWPCYLAw2a2s7EN0yCAlZbgurdOZhuItm0ec68QMfhQnKcGOV3BXr2uXD0IvVd39magA_4Oj1u1_yW5tddfXAkwOqBsKTLfElse52n_8qUQoBZeVopmbAa5fI-AKk9A=s0-d-e1-ft#https://s3.amazonaws.com/static.hotmart.com/emails-hotmart/img/hotmart-color.png"
                              width="150"
                              height="53"
                              border="0"
                              style="display: block"
                              class="CToWUd"
                              data-bit="iit"
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="100%" valign="top" width="100%" bgcolor="#f6f6f6" style="background: #f6f6f6; padding: 0 20px 0 20px">
            <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" style="max-width: 600px">
              <tbody>
                <tr>
                  <td height="100%" valign="top" width="100%" bgcolor="#ffffff" style="padding: 36px 36px 36px 36px; background: #ffffff">
                    <span class="im"
                      ><p
                        style="
                          color: #6d6f71;
                          margin: 24px 0 24px 0;
                          font-family: Open Sans, Helvetica, Arial, sans-serif;
                          font-size: 16px;
                          text-align: left;
                          line-height: 1.44;
                          display: block;
                          font-weight: normal;
                        "
                      >
                        Olá, <b>Vítor</b>.
                      </p>
                      <p
                        style="
                          color: #6d6f71;
                          margin: 24px 0 24px 0;
                          font-family: Open Sans, Helvetica, Arial, sans-serif;
                          font-size: 16px;
                          text-align: left;
                          line-height: 1.44;
                          display: block;
                          font-weight: normal;
                        "
                      >
                        Informamos que <b>não foi possível debitar do seu Cartão</b> o valor para compra do produto <b>Danki Code: Plano Vitalício</b> e, por
                        isso, a compra foi <b>Cancelada</b>.
                      </p>
                      <p
                        style="
                          color: #6d6f71;
                          margin: 24px 0 24px 0;
                          font-family: Open Sans, Helvetica, Arial, sans-serif;
                          font-size: 16px;
                          text-align: left;
                          line-height: 1.44;
                          display: block;
                          font-weight: normal;
                        "
                      ></p>
                      <p
                        style="
                          color: #6d6f71;
                          margin: 24px 0 24px 0;
                          font-family: Open Sans, Helvetica, Arial, sans-serif;
                          font-size: 16px;
                          text-align: left;
                          line-height: 1.44;
                          display: block;
                          font-weight: normal;
                        "
                      >
                        Na maioria das vezes, algum dos motivos abaixo pode impedir a transação em seu cartão. Confira:
                      </p>
                      <p
                        style="
                          color: #6d6f71;
                          margin: 24px 0 24px 0;
                          font-family: Open Sans, Helvetica, Arial, sans-serif;
                          font-size: 16px;
                          text-align: left;
                          line-height: 1.44;
                          display: block;
                          font-weight: normal;
                        "
                      >
                        <b>1) Os dados do cartão foram informados incorretamente.</b> <br />
                        Veja se você digitou, corretamente, o Nome escrito no cartão, o <b>Número</b>, a <b>Data de Expiração</b> e o <b>CVV</b> no formulário
                        de compra;
                      </p>
                      <p
                        style="
                          color: #6d6f71;
                          margin: 24px 0 24px 0;
                          font-family: Open Sans, Helvetica, Arial, sans-serif;
                          font-size: 16px;
                          text-align: left;
                          line-height: 1.44;
                          display: block;
                          font-weight: normal;
                        "
                      >
                        <b>2) O cartão informado não é um cartão de crédito.</b> <br />
                        Verifique se o cartão utilizado é realmente um cartão de crédito. Cheque se este não é um cartão de débito, alimentação ou outra opção
                        que não esteja habilitada para compras via internet.
                      </p>
                      <p
                        style="
                          color: #6d6f71;
                          margin: 24px 0 24px 0;
                          font-family: Open Sans, Helvetica, Arial, sans-serif;
                          font-size: 16px;
                          text-align: left;
                          line-height: 1.44;
                          display: block;
                          font-weight: normal;
                        "
                      >
                        <b>3) O pagamento foi negado pelo Emissor do cartão</b> (ex: o banco ou instituição que emitiu seu cartão).<br />
                        O Emissor pode impedir o pagamento se ele entender que você fugiu dos seus hábitos normais de compra, por exemplo: <br />
                        - Se você está adquirindo algo de um valor <b>muito diferente do que normalmente compra no cartão;</b> <br />
                        - Se você está comprando em um <b>horário muito diferente</b> do que está acostumado a fazer compras na internet; <br />
                        OBS: Nestes casos, você precisa <i>ligar para o Emissor do cartão e autorizar a compra.</i> <br />
                      </p>
                      <p
                        style="
                          color: #6d6f71;
                          margin: 24px 0 24px 0;
                          font-family: Open Sans, Helvetica, Arial, sans-serif;
                          font-size: 16px;
                          text-align: left;
                          line-height: 1.44;
                          display: block;
                          font-weight: normal;
                        "
                      >
                        <b>4) Não havia saldo suficiente no cartão:</b> <br />
                        - No caso de compras parceladas, às vezes, o comprador acredita que basta ter o valor da parcela do mês disponível para que a compra
                        possa ser realizada, no entanto, ao fazer uma compra parcelada, mesmo que o comprador pague apenas 1 parcela por mês, o crédito
                        reservado no cartão é o valor total da compra. Assim, em alguns casos, o cartão pode impedir a compra por estouro do limite; <br />
                        - Dependendo da data da compra, o saldo do cartão já pode ter sido consumido naquele mês. Por isso, a operadora de crédito pode impedir
                        a transação. <br />
                      </p>
                      <p
                        style="
                          color: #6d6f71;
                          margin: 24px 0 24px 0;
                          font-family: Open Sans, Helvetica, Arial, sans-serif;
                          font-size: 16px;
                          text-align: left;
                          line-height: 1.44;
                          display: block;
                          font-weight: normal;
                        "
                      >
                        <b>"E O QUE EU POSSO FAZER PARA COMPRAR AGORA?"</b>
                      </p>
                      <p
                        style="
                          color: #6d6f71;
                          margin: 24px 0 24px 0;
                          font-family: Open Sans, Helvetica, Arial, sans-serif;
                          font-size: 16px;
                          text-align: left;
                          line-height: 1.44;
                          display: block;
                          font-weight: normal;
                        "
                      >
                        Para tentar resolver a sua questão, verifique a possibilidade da compra com Boleto Bancário ou utilizar um cartão de crédito diferente.
                      </p></span
                    >
                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                      <tbody>
                        <tr>
                          <td
                            align="center"
                            height="24px"
                            valign="top"
                            width="100%"
                            background="https://ci3.googleusercontent.com/meips/ADKq_Nbq8xah1644MINOO7sIfIpoJPH9Wb6yDqrIfiFcZ-dXdcegBcDkI52TjpAZrgt01DTErooVCMpYsNrjPuMiiOdqXY93Ba8bcywSTrCcovaypxAFO9c6gXmw-woR9Al_4ZYIaixQUDS3-VioOLwuMsQ75M0nsQ=s0-d-e1-ft#https://s3.amazonaws.com/static.hotmart.com/emails-hotmart/img/note__border--bottom--yellow.png"
                            bgcolor="#fffbcc"
                            style="background: #fffbcc url() bottom repeat-x; padding: 0 0 0 0; height: 27px; min-height: 27px"
                          ></td>
                        </tr>
                        <tr>
                          <td style="padding: 0 24px 0 24px; font-family: Courier New, Open Sans, Helvetica, Arial, sans-serif" bgcolor="#fffbcc">
                            <span class="im"
                              ><p><strong>Dados da Transação</strong></p>
                              <p style="color: #5d5d4b; font-size: 16px; line-height: undefined; margin: 0 0 12px 0">
                                <strong>Nome do produto:</strong> Danki Code: Plano Vitalício
                              </p></span
                            >
                            <p style="color: #5d5d4b; font-size: 16px; line-height: undefined; margin: 0 0 12px 0">
                              <strong>Código da transação:</strong> HP10916814189256
                            </p>
                            <span class="im"
                              ><p style="color: #5d5d4b; font-size: 16px; line-height: undefined; margin: 0 0 12px 0">
                                <strong>Valor pago por cartão:</strong> R$ 581,04
                              </p>
                              <p style="color: #5d5d4b; font-size: 16px; line-height: undefined; margin: 0 0 12px 0">
                                <strong>Status:</strong> Cancelada
                              </p></span
                            >
                          </td>
                        </tr>
                        <tr>
                          <td
                            align="center"
                            height="24px"
                            valign="top"
                            width="100%"
                            bgcolor="#fffbcc"
                            style="background: #fffbcc url() top repeat-x; padding: 0 0 0 0; height: 27px; min-height: 27px"
                          ></td>
                        </tr>
                        <tr>
                          <td height="24"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td height="100%" valign="top" width="100%" bgcolor="#ffffff" style="padding: 0px 36px 0px 36px; background: #ffffff"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="">
              <tbody>
                <tr>
                  <td align="center" valign="top" width="100%">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" bgcolor="" style="max-width: 600px">
                      <tbody>
                        <tr>
                          <td align="center" valign="top" style="padding: 40px 0 40px 0">
                            <img
                              src="https://ci3.googleusercontent.com/meips/ADKq_NYbU-OwCqkUsYeveLhxF5Y1NdWaMa4Si94FwIGZ-XbWFs1il2Nou9yfeGenFvpjlIHrM0gwlrnsEe3TeES0FT4jostEKaLqoMMSNqIHe9gPkwnphwanZcbYmpz2RqCT3h6cmuIy=s0-d-e1-ft#https://s3.amazonaws.com/static.hotmart.com/emails-hotmart/img/hotmart-gray.png"
                              width="100"
                              height="35"
                              border="0"
                              style="display: block"
                              class="CToWUd"
                              data-bit="iit"
                            />
                          </td>
                        </tr>
                        <tr>
                          <td align="left" height="100%" valign="top" width="100%" style="padding: 20px">
                            <p
                              style="
                                color: #999999;
                                margin: 0px 0 20px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                                font-size: 12px;
                                text-align: center;
                                line-height: 1.44;
                                display: block;
                                font-weight: normal;
                              "
                            >
                              Não responda a este e-mail. Em caso de dúvidas, entre em contato com o nosso
                              <a
                                href="https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%2F%2Fhelp.hotmart.com/1/010001877c60f415-f220564b-2eec-4415-81e7-f250511bd74c-000000/qhjLP77G0ft_B_Kh8QbN2BeBqKo=317"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%252F%252Fhelp.hotmart.com/1/010001877c60f415-f220564b-2eec-4415-81e7-f250511bd74c-000000/qhjLP77G0ft_B_Kh8QbN2BeBqKo%3D317&amp;source=gmail&amp;ust=1731214429779000&amp;usg=AOvVaw1yNkxvrah44rEIuC5yqpMd"
                              >
                                suporte</a
                              >.
                            </p>
                            <p
                              style="
                                color: #999999;
                                margin: 0px 0 20px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                                font-size: 12px;
                                text-align: center;
                                line-height: 1.44;
                                display: block;
                                font-weight: normal;
                              "
                            >
                              Para maiores informações sobre sua conta,
                              <a
                                href="https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%2F%2Fapp-vlc.hotmart.com%2F/1/010001877c60f415-f220564b-2eec-4415-81e7-f250511bd74c-000000/yL2EBX2sBjXIpOXQ_LJbezENPYk=317"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%252F%252Fapp-vlc.hotmart.com%252F/1/010001877c60f415-f220564b-2eec-4415-81e7-f250511bd74c-000000/yL2EBX2sBjXIpOXQ_LJbezENPYk%3D317&amp;source=gmail&amp;ust=1731214429779000&amp;usg=AOvVaw0arVrpmsEEgMeXfBNdO4qn"
                                >acesse a plataforma</a
                              >.
                            </p>
                            <p
                              style="
                                color: #999999;
                                margin: 0px 0 20px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                                font-size: 12px;
                                text-align: center;
                                line-height: 1.44;
                                display: block;
                                font-weight: normal;
                              "
                            >
                              Para acessar os termos de Compra,
                              <a
                                href="https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%2F%2Fwww.hotmart.com%2Flegal/1/010001877c60f415-f220564b-2eec-4415-81e7-f250511bd74c-000000/5SDCPTZE-9rbuUwKcDsMnYcFiNM=317"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%252F%252Fwww.hotmart.com%252Flegal/1/010001877c60f415-f220564b-2eec-4415-81e7-f250511bd74c-000000/5SDCPTZE-9rbuUwKcDsMnYcFiNM%3D317&amp;source=gmail&amp;ust=1731214429779000&amp;usg=AOvVaw1Nyc6TngtTdHlRSWB2haF9"
                                >clique aqui.</a
                              >
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
