<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotmart</title>
  </head>
  <body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f6f6f6">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tbody>
        <tr>
          <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td align="center" valign="top" width="100%" bgcolor="#053d4e">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px">
                      <tbody>
                        <tr>
                          <td align="center" valign="top" style="padding: 60px 0 60px 0">
                            <img
                              src="https://ci3.googleusercontent.com/meips/ADKq_NbUp_0lh2PrWPCYLAw2a2s7EN0yCAlZbgurdOZhuItm0ec68QMfhQnKcGOV3BXr2uXD0IvVd39magA_4Oj1u1_yW5tddfXAkwOqBsKTLfElse52n_8qUQoBZeVopmbAa5fI-AKk9A=s0-d-e1-ft#https://s3.amazonaws.com/static.hotmart.com/emails-hotmart/img/hotmart-color.png"
                              width="150"
                              height="53"
                              border="0"
                              style="display: block"
                              class="CToWUd"
                              data-bit="iit"
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="100%" valign="top" width="100%" bgcolor="#f6f6f6" style="background: #f6f6f6; padding: 0 20px 0 20px">
            <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" style="max-width: 600px">
              <tbody>
                <tr>
                  <td height="100%" valign="top" width="100%" bgcolor="#ffffff" style="padding: 36px 36px 36px 36px; background: #ffffff">
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                      "
                    >
                      Olá, <b>Vítor</b>.
                    </p>
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                      "
                    >
                      Estamos te enviando um <b>código PIX</b> para o pagamento da sua compra de eFront - Os fundamentos do front-end
                    </p>
                    <table border="0" cellspacing="0" cellpadding="0" align="center" style="width: auto">
                      <tbody>
                        <tr>
                          <td align="center" style="padding: 0 0 24px 0">
                            <table border="0" cellspacing="0" cellpadding="0" style="width: auto">
                              <tbody>
                                <tr>
                                  <td align="center" style="border-radius: 50em; background-color: #00ce81">
                                    <a
                                      href="https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%2F%2Fcustomer-local-latam.ebanx.com%2Fpix%2Fcheckout%3Fhash=636a62441b1b24dcd7b7a839799a99026e558c33bacddb08/1/010001845790b8e7-371256d4-e69b-4d82-9f5c-81d105209788-000000/CyA8OGhB_UXnU6s8dEpq9ssZsMk=295"
                                      style="
                                        font-size: 16px;
                                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                                        color: #ffffff;
                                        text-decoration: none !important;
                                        border-radius: 50em;
                                        background-color: #00ce81;
                                        padding: 20px 25px 20px 25px;
                                        border: 1px solid #00915c;
                                        display: block;
                                        font-weight: bold;
                                      "
                                      target="_blank"
                                      data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%252F%252Fcustomer-local-latam.ebanx.com%252Fpix%252Fcheckout%253Fhash%3D636a62441b1b24dcd7b7a839799a99026e558c33bacddb08/1/010001845790b8e7-371256d4-e69b-4d82-9f5c-81d105209788-000000/CyA8OGhB_UXnU6s8dEpq9ssZsMk%3D295&amp;source=gmail&amp;ust=1731214431138000&amp;usg=AOvVaw1siLII3LSUXT0QERbOhhsf"
                                      >Gerar código PIX para efetuar pagamento</a
                                    >
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                      "
                    >
                      Você terá o acesso ao produto assim que o banco confirmar o pagamento. Como é um pagamento PIX, costuma demorar menos de 10 minutos.
                    </p>
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                      "
                    >
                      Caso tenha dúvidas a respeito do produto, entre em contato com:
                    </p>
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                      "
                    >
                      Produtor(a): iuricode
                    </p>
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                      "
                    >
                      <b>E-mail do vendedor:</b> <a href="mailto:iuri.silvas@hotmail.com" target="_blank">iuri.silvas@hotmail.com</a>
                    </p>
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                      "
                    >
                      Abraços,<br />Equipe <span class="il">Hotmart</span>.
                    </p>
                  </td>
                </tr>
                <tr>
                  <td height="100%" valign="top" width="100%" bgcolor="#ffffff" style="padding: 0px 36px 0px 36px; background: #ffffff"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td align="center" valign="top" width="100%">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" style="max-width: 600px">
                      <tbody>
                        <tr>
                          <td align="center" valign="top" style="padding: 40px 0 40px 0">
                            <img
                              src="https://ci3.googleusercontent.com/meips/ADKq_NYbU-OwCqkUsYeveLhxF5Y1NdWaMa4Si94FwIGZ-XbWFs1il2Nou9yfeGenFvpjlIHrM0gwlrnsEe3TeES0FT4jostEKaLqoMMSNqIHe9gPkwnphwanZcbYmpz2RqCT3h6cmuIy=s0-d-e1-ft#https://s3.amazonaws.com/static.hotmart.com/emails-hotmart/img/hotmart-gray.png"
                              width="100"
                              height="35"
                              border="0"
                              style="display: block"
                              class="CToWUd"
                              data-bit="iit"
                            />
                          </td>
                        </tr>
                        <tr>
                          <td align="left" height="100%" valign="top" width="100%" style="padding: 20px">
                            <p
                              style="
                                color: #999999;
                                margin: 0px 0 20px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                                font-size: 12px;
                                text-align: center;
                                line-height: 1.44;
                                display: block;
                              "
                            >
                              Não responda a este e-mail. Em caso de dúvidas, entre em contato com o nosso
                              <a
                                href="https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%2F%2Fhelp.hotmart.com/1/010001845790b8e7-371256d4-e69b-4d82-9f5c-81d105209788-000000/SmfHLKFNlOufvF3xaYY6h73N9GY=295"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%252F%252Fhelp.hotmart.com/1/010001845790b8e7-371256d4-e69b-4d82-9f5c-81d105209788-000000/SmfHLKFNlOufvF3xaYY6h73N9GY%3D295&amp;source=gmail&amp;ust=1731214431138000&amp;usg=AOvVaw0EDVTTW9j3btgl4qXUvOIM"
                              >
                                suporte</a
                              >.
                            </p>
                            <p
                              style="
                                color: #999999;
                                margin: 0px 0 20px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                                font-size: 12px;
                                text-align: center;
                                line-height: 1.44;
                                display: block;
                              "
                            >
                              Para maiores informações sobre sua conta,
                              <a
                                href="https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%2F%2Fapp-vlc.hotmart.com%2F/1/010001845790b8e7-371256d4-e69b-4d82-9f5c-81d105209788-000000/d6YQrbxpRcig1b7cCZUty81YmVI=295"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%252F%252Fapp-vlc.hotmart.com%252F/1/010001845790b8e7-371256d4-e69b-4d82-9f5c-81d105209788-000000/d6YQrbxpRcig1b7cCZUty81YmVI%3D295&amp;source=gmail&amp;ust=1731214431138000&amp;usg=AOvVaw1GrNx7MaBcKvMR0QvmlyUN"
                                >acesse a plataforma</a
                              >.
                            </p>
                            <p
                              style="
                                color: #999999;
                                margin: 0px 0 20px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                                font-size: 12px;
                                text-align: center;
                                line-height: 1.44;
                                display: block;
                              "
                            >
                              Para acessar os termos de Compra,
                              <a
                                href="https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%2F%2Fwww.hotmart.com%2Flegal/1/010001845790b8e7-371256d4-e69b-4d82-9f5c-81d105209788-000000/_H4a8iHc_Wr4QJxgpdzklYMkNiQ=295"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%252F%252Fwww.hotmart.com%252Flegal/1/010001845790b8e7-371256d4-e69b-4d82-9f5c-81d105209788-000000/_H4a8iHc_Wr4QJxgpdzklYMkNiQ%3D295&amp;source=gmail&amp;ust=1731214431138000&amp;usg=AOvVaw0-S6rBmMxma2PbE5N5cjCg"
                                >clique aqui.</a
                              >
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
