<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotmart</title>
  </head>
  <body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f6f6f6">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tbody>
        <tr>
          <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td align="center" valign="top" width="100%" bgcolor="#053d4e">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px">
                      <tbody>
                        <tr>
                          <td align="center" valign="top" style="padding: 60px 0 60px 0">
                            <img
                              src="https://ci3.googleusercontent.com/meips/ADKq_NZuv8sp7BGFkdeCVWT3eCfxYR8yzuMT-6ckCkwYVlg3rl3PrdrNnGJx2D57ym7ZzGh9wLWn4587zwVH-aQWzISRKEjFmxYW9-CNN5rapZpGbYn72Vo=s0-d-e1-ft#https://static.hotmart.com/emails-hotmart/img/hotmart-color.png"
                              width="150"
                              height="53"
                              border="0"
                              style="display: block"
                              class="CToWUd"
                              data-bit="iit"
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="100%" valign="top" width="100%" bgcolor="#f6f6f6" style="background: #f6f6f6; padding: 0 20px 0 20px">
            <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" style="max-width: 600px">
              <tbody>
                <tr>
                  <td height="100%" valign="top" width="100%" bgcolor="#ffffff" style="padding: 36px 36px 36px 36px; background: #ffffff">
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                        font-weight: normal;
                      "
                    >
                      Olá, Vítor
                    </p>
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                        font-weight: normal;
                      "
                    >
                      Recebemos seu pedido de <strong>Arquitetura Orientada a Eventos com Spring Boot</strong>.
                    </p>
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                        font-weight: normal;
                      "
                    >
                      As informações usadas na compra precisam passar por uma <strong>análise do nosso time</strong> antes da confirmação e aprovação pela
                      operadora de pagamentos.
                    </p>
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                        font-weight: normal;
                      "
                    >
                      Em breve, você receberá atualizações sobre seu pedido. Não se esqueça de conferir sua caixa de spam.
                    </p>
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                        font-weight: normal;
                      "
                    >
                      Abraços,<br />Equipe <span class="il">Hotmart</span>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td height="100%" valign="top" width="100%" bgcolor="#ffffff" style="padding: 0px 36px 0px 36px; background: #ffffff"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="">
              <tbody>
                <tr>
                  <td align="center" valign="top" width="100%">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" bgcolor="" style="max-width: 600px">
                      <tbody>
                        <tr>
                          <td align="center" valign="top" style="padding: 40px 0 40px 0">
                            <img
                              src="https://ci3.googleusercontent.com/meips/ADKq_NZba6jnKgUBSMCqsWAUtQQNsuCEy2MVnd-ej8ZOcJeoy6IKTGt8o1qw8I2iTNW-HaD_T7AqOZY3xVDWIpsSg7KKKbXmd-RlhWzV2KKGRDEmxtzqXg=s0-d-e1-ft#https://static.hotmart.com/emails-hotmart/img/hotmart-gray.png"
                              width="100"
                              height="35"
                              border="0"
                              style="display: block"
                              class="CToWUd"
                              data-bit="iit"
                            />
                          </td>
                        </tr>
                        <tr>
                          <td align="left" height="100%" valign="top" width="100%" style="padding: 20px">
                            <p
                              style="
                                color: #999999;
                                margin: 0px 0 20px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                                font-size: 12px;
                                text-align: center;
                                line-height: 1.44;
                                display: block;
                                font-weight: normal;
                              "
                            >
                              Não responda a este e-mail. Em caso de dúvidas, entre em contato com o nosso
                              <a
                                href="https://links.hotmart.com/ls/click?upn=u001.y18TlGP3HAMHGZ5zqnzME7SIfEuNkV6d-2BS-2BBxmUDL-2Fo-3DrUPc_9uij4gmBn4pYFVMcgRm1sZ70eeJWYVETi8MrlEsvmRIy9smC1TThCUbw-2F1TXahJiztcz96kFwzu08VfwCzRQk5Tn4aTvyvDRDMdjEX53dTjcoNA1b8b6adoj7ZOIKB07163yMCdEYwYHDPF7TXk37x4x4MUtAtl8J2-2FoDnHK-2B9u2N4FO4-2BumVoydCcAA1WjsAvUWraqNydA40cDvP5myHed7rJswgsT0nOl1F0yB-2BcAO8uZ-2B-2Fn1er8S4vZIQaHjz31od8Xa-2F9gyZzMbvbCI2DN1hUG3pybBAIO6mZqb9TDPGoo283i1jiwE7l2hRmyLZYpw5nKRzPK3Ud7RaoG0rPVyyH4FGy-2FSRMXNlMtoakcnlFJQMrrOGsktfK9XFHvM-2BNp4oQj-2BJa-2FcOkoXTwHI4zzdA-2B2U4X-2Ftbbc4J1PQ9g1hzDn61rNOzBS64yrXG5A1U"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://links.hotmart.com/ls/click?upn%3Du001.y18TlGP3HAMHGZ5zqnzME7SIfEuNkV6d-2BS-2BBxmUDL-2Fo-3DrUPc_9uij4gmBn4pYFVMcgRm1sZ70eeJWYVETi8MrlEsvmRIy9smC1TThCUbw-2F1TXahJiztcz96kFwzu08VfwCzRQk5Tn4aTvyvDRDMdjEX53dTjcoNA1b8b6adoj7ZOIKB07163yMCdEYwYHDPF7TXk37x4x4MUtAtl8J2-2FoDnHK-2B9u2N4FO4-2BumVoydCcAA1WjsAvUWraqNydA40cDvP5myHed7rJswgsT0nOl1F0yB-2BcAO8uZ-2B-2Fn1er8S4vZIQaHjz31od8Xa-2F9gyZzMbvbCI2DN1hUG3pybBAIO6mZqb9TDPGoo283i1jiwE7l2hRmyLZYpw5nKRzPK3Ud7RaoG0rPVyyH4FGy-2FSRMXNlMtoakcnlFJQMrrOGsktfK9XFHvM-2BNp4oQj-2BJa-2FcOkoXTwHI4zzdA-2B2U4X-2Ftbbc4J1PQ9g1hzDn61rNOzBS64yrXG5A1U&amp;source=gmail&amp;ust=1731214428163000&amp;usg=AOvVaw2tRRAEqlStNLMYFR6hgGOh"
                              >
                                suporte</a
                              >.
                            </p>
                            <p
                              style="
                                color: #999999;
                                margin: 0px 0 20px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                                font-size: 12px;
                                text-align: center;
                                line-height: 1.44;
                                display: block;
                                font-weight: normal;
                              "
                            >
                              Para maiores informações sobre sua conta,
                              <a
                                href="https://links.hotmart.com/ls/click?upn=u001.m3eX8kAeFKhrbI1I3V6U8gbnr7tIsp1HxNdYj2p9dGajSeO-2FuTx7EwlY-2B8J5VjaP1L4-_9uij4gmBn4pYFVMcgRm1sZ70eeJWYVETi8MrlEsvmRIy9smC1TThCUbw-2F1TXahJiztcz96kFwzu08VfwCzRQk5Tn4aTvyvDRDMdjEX53dTjcoNA1b8b6adoj7ZOIKB07163yMCdEYwYHDPF7TXk37x4x4MUtAtl8J2-2FoDnHK-2B9u2N4FO4-2BumVoydCcAA1WjsAvUWraqNydA40cDvP5myHed7rJswgsT0nOl1F0yB-2BcAO8uZ-2B-2Fn1er8S4vZIQaHjz31od8Xa-2F9gyZzMbvbCI2DDHOxKFRe42IlxdCTG3DZpEAFrJRsAps4ZE3grK2VCXnOHgBeqx1LKVevH1P723Ewb1KraXtwyDp4tiCFET99-2BnW9zW05HGyWiio9TvAqDaAE063-2Bwb-2BMrwyo4FrbzSmhWe4En08TsrOyZr74WAr9HA4RxIQXTOYRwkhKWEQJj8Q"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://links.hotmart.com/ls/click?upn%3Du001.m3eX8kAeFKhrbI1I3V6U8gbnr7tIsp1HxNdYj2p9dGajSeO-2FuTx7EwlY-2B8J5VjaP1L4-_9uij4gmBn4pYFVMcgRm1sZ70eeJWYVETi8MrlEsvmRIy9smC1TThCUbw-2F1TXahJiztcz96kFwzu08VfwCzRQk5Tn4aTvyvDRDMdjEX53dTjcoNA1b8b6adoj7ZOIKB07163yMCdEYwYHDPF7TXk37x4x4MUtAtl8J2-2FoDnHK-2B9u2N4FO4-2BumVoydCcAA1WjsAvUWraqNydA40cDvP5myHed7rJswgsT0nOl1F0yB-2BcAO8uZ-2B-2Fn1er8S4vZIQaHjz31od8Xa-2F9gyZzMbvbCI2DDHOxKFRe42IlxdCTG3DZpEAFrJRsAps4ZE3grK2VCXnOHgBeqx1LKVevH1P723Ewb1KraXtwyDp4tiCFET99-2BnW9zW05HGyWiio9TvAqDaAE063-2Bwb-2BMrwyo4FrbzSmhWe4En08TsrOyZr74WAr9HA4RxIQXTOYRwkhKWEQJj8Q&amp;source=gmail&amp;ust=1731214428163000&amp;usg=AOvVaw2OFqM_HqHRltYGBsLJaNSb"
                                >acesse a plataforma</a
                              >.
                            </p>
                            <p
                              style="
                                color: #999999;
                                margin: 0px 0 20px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                                font-size: 12px;
                                text-align: center;
                                line-height: 1.44;
                                display: block;
                                font-weight: normal;
                              "
                            >
                              Para acessar os termos de Compra,
                              <a
                                href="https://links.hotmart.com/ls/click?upn=u001.-2Bq7DUpQscP0kKbwtOOnPl2c36d8V3fG-2B9TkplpXH3dAwh5z-2FGoK44lr5KMdusquaMWL__9uij4gmBn4pYFVMcgRm1sZ70eeJWYVETi8MrlEsvmRIy9smC1TThCUbw-2F1TXahJiztcz96kFwzu08VfwCzRQk5Tn4aTvyvDRDMdjEX53dTjcoNA1b8b6adoj7ZOIKB07163yMCdEYwYHDPF7TXk37x4x4MUtAtl8J2-2FoDnHK-2B9u2N4FO4-2BumVoydCcAA1WjsAvUWraqNydA40cDvP5myHed7rJswgsT0nOl1F0yB-2BcAO8uZ-2B-2Fn1er8S4vZIQaHjz31od8Xa-2F9gyZzMbvbCI2DLU4xxYFQ0No2VoQWImeWsxpLz9MbK2PC87DbuST-2BUlm6KYdqjR9LsLPVlBDQJ6bxGp8KAsQHNWAI3t8c2nFuvkBgSXqumutH5sVPvbc3e0AvEmXBvUgtC4Yvx6NEYWmOB39oFubuW8-2BkvOPwDDpuJceEQsQ8eDFjRP8TdQyr4ag"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://links.hotmart.com/ls/click?upn%3Du001.-2Bq7DUpQscP0kKbwtOOnPl2c36d8V3fG-2B9TkplpXH3dAwh5z-2FGoK44lr5KMdusquaMWL__9uij4gmBn4pYFVMcgRm1sZ70eeJWYVETi8MrlEsvmRIy9smC1TThCUbw-2F1TXahJiztcz96kFwzu08VfwCzRQk5Tn4aTvyvDRDMdjEX53dTjcoNA1b8b6adoj7ZOIKB07163yMCdEYwYHDPF7TXk37x4x4MUtAtl8J2-2FoDnHK-2B9u2N4FO4-2BumVoydCcAA1WjsAvUWraqNydA40cDvP5myHed7rJswgsT0nOl1F0yB-2BcAO8uZ-2B-2Fn1er8S4vZIQaHjz31od8Xa-2F9gyZzMbvbCI2DLU4xxYFQ0No2VoQWImeWsxpLz9MbK2PC87DbuST-2BUlm6KYdqjR9LsLPVlBDQJ6bxGp8KAsQHNWAI3t8c2nFuvkBgSXqumutH5sVPvbc3e0AvEmXBvUgtC4Yvx6NEYWmOB39oFubuW8-2BkvOPwDDpuJceEQsQ8eDFjRP8TdQyr4ag&amp;source=gmail&amp;ust=1731214428163000&amp;usg=AOvVaw0tcuD78QETs1zQk4I4QLwM"
                                >clique aqui.</a
                              >
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
