<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotmart</title>
  </head>
  <body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f6f6f6">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tbody>
        <tr>
          <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td align="center" valign="top" width="100%" bgcolor="#053d4e">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px">
                      <tbody>
                        <tr>
                          <td align="center" valign="top" style="padding: 60px 0 60px 0">
                            <img
                              src="https://ci3.googleusercontent.com/meips/ADKq_NZuv8sp7BGFkdeCVWT3eCfxYR8yzuMT-6ckCkwYVlg3rl3PrdrNnGJx2D57ym7ZzGh9wLWn4587zwVH-aQWzISRKEjFmxYW9-CNN5rapZpGbYn72Vo=s0-d-e1-ft#https://static.hotmart.com/emails-hotmart/img/hotmart-color.png"
                              width="150"
                              height="53"
                              border="0"
                              style="display: block"
                              class="CToWUd"
                              data-bit="iit"
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="100%" valign="top" width="100%" bgcolor="#f6f6f6" style="background: #f6f6f6; padding: 0 20px 0 20px">
            <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" style="max-width: 600px">
              <tbody>
                <tr>
                  <td height="100%" valign="top" width="100%" bgcolor="#ffffff" style="padding: 36px 36px 36px 36px; background: #ffffff">
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                        font-weight: normal;
                      "
                    >
                      Olá, <b>Vítor</b>.
                    </p>
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                        font-weight: normal;
                      "
                    >
                      Seu <strong>reembolso</strong> referente ao produto <strong>Arquitetura Orientada a Eventos com Spring Boot foi processado</strong>.
                    </p>
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                        font-weight: normal;
                      "
                    >
                      A transação foi confirmada pela processadora de pagamentos. O valor aparecerá
                      <strong>na atual ou na próxima fatura do cartão de crédito (final 4694)</strong>.
                    </p>
                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                      <tbody>
                        <tr>
                          <td valign="top" bgcolor="#f9f9f9" style="padding: 20px 20px 20px 20px">
                            <p
                              style="
                                font-size: 16px;
                                font-weight: bold;
                                line-height: 1.88;
                                letter-spacing: normal;
                                color: #474736;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                              "
                            >
                              Informações da compra
                            </p>
                            <p
                              style="
                                color: #5d5d4b;
                                font-size: undefined;
                                line-height: undefined;
                                margin: 0 0 12px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                              "
                            >
                              <strong>Nome do produto:</strong> Arquitetura Orientada a Eventos com Spring Boot
                            </p>
                            <p
                              style="
                                color: #5d5d4b;
                                font-size: undefined;
                                line-height: undefined;
                                margin: 0 0 12px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                              "
                            >
                              <strong>Valor:</strong> R$ 21,99
                            </p>
                            <p
                              style="
                                color: #5d5d4b;
                                font-size: undefined;
                                line-height: undefined;
                                margin: 0 0 12px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                              "
                            >
                              <strong>Data:</strong> 10/10/2024
                            </p>
                            <p
                              style="
                                color: #5d5d4b;
                                font-size: undefined;
                                line-height: undefined;
                                margin: 0 0 12px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                              "
                            >
                              <strong>Código da transação:</strong> HP1666079623
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td height="24"></td>
                        </tr>
                      </tbody>
                    </table>
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                        font-weight: normal;
                      "
                    >
                      Se você tiver alguma dúvida, <strong>entre em contato com sua Operadora de Cartão</strong>. Nós não conseguimos interferir na forma de
                      devolução realizada por ela.
                    </p>
                    <p
                      style="
                        color: #6d6f71;
                        margin: 24px 0 24px 0;
                        font-family: Open Sans, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: left;
                        line-height: 1.44;
                        display: block;
                        font-weight: normal;
                      "
                    >
                      Abraços,<br />Equipe <span class="il">Hotmart</span>.
                    </p>
                  </td>
                </tr>
                <tr>
                  <td height="100%" valign="top" width="100%" bgcolor="#ffffff" style="padding: 0px 36px 0px 36px; background: #ffffff"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="">
              <tbody>
                <tr>
                  <td align="center" valign="top" width="100%">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" bgcolor="" style="max-width: 600px">
                      <tbody>
                        <tr>
                          <td align="center" valign="top" style="padding: 40px 0 40px 0">
                            <img
                              src="https://ci3.googleusercontent.com/meips/ADKq_NZba6jnKgUBSMCqsWAUtQQNsuCEy2MVnd-ej8ZOcJeoy6IKTGt8o1qw8I2iTNW-HaD_T7AqOZY3xVDWIpsSg7KKKbXmd-RlhWzV2KKGRDEmxtzqXg=s0-d-e1-ft#https://static.hotmart.com/emails-hotmart/img/hotmart-gray.png"
                              width="100"
                              height="35"
                              border="0"
                              style="display: block"
                              class="CToWUd"
                              data-bit="iit"
                            />
                          </td>
                        </tr>
                        <tr>
                          <td align="left" height="100%" valign="top" width="100%" style="padding: 20px">
                            <p
                              style="
                                color: #999999;
                                margin: 0px 0 20px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                                font-size: 12px;
                                text-align: center;
                                line-height: 1.44;
                                display: block;
                                font-weight: normal;
                              "
                            >
                              Não responda a este e-mail. Em caso de dúvidas, entre em contato com o nosso
                              <a
                                href="https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%2F%2Fhelp.hotmart.com/1/0100019279a43fc8-0b5d06cf-d709-464b-b764-6209fab5d72f-000000/RBRZLw1BgDMtE_YgElvZXuDvQao=395"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%252F%252Fhelp.hotmart.com/1/0100019279a43fc8-0b5d06cf-d709-464b-b764-6209fab5d72f-000000/RBRZLw1BgDMtE_YgElvZXuDvQao%3D395&amp;source=gmail&amp;ust=1731214427774000&amp;usg=AOvVaw0Dohtc-WbQaCsCJiM7C2I_"
                              >
                                suporte</a
                              >.
                            </p>
                            <p
                              style="
                                color: #999999;
                                margin: 0px 0 20px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                                font-size: 12px;
                                text-align: center;
                                line-height: 1.44;
                                display: block;
                                font-weight: normal;
                              "
                            >
                              Para maiores informações sobre sua conta,
                              <a
                                href="https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%2F%2Fapp-vlc.hotmart.com%2F/1/0100019279a43fc8-0b5d06cf-d709-464b-b764-6209fab5d72f-000000/Xx98u_Td45sR_kmK-n5Ip08c3LI=395"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%252F%252Fapp-vlc.hotmart.com%252F/1/0100019279a43fc8-0b5d06cf-d709-464b-b764-6209fab5d72f-000000/Xx98u_Td45sR_kmK-n5Ip08c3LI%3D395&amp;source=gmail&amp;ust=1731214427774000&amp;usg=AOvVaw1tZf1JN6hUgY1lZejxqBPq"
                                >acesse a plataforma</a
                              >.
                            </p>
                            <p
                              style="
                                color: #999999;
                                margin: 0px 0 20px 0;
                                font-family: Open Sans, Helvetica, Arial, sans-serif;
                                font-size: 12px;
                                text-align: center;
                                line-height: 1.44;
                                display: block;
                                font-weight: normal;
                              "
                            >
                              Para acessar os termos de Compra,
                              <a
                                href="https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%2F%2Fwww.hotmart.com%2Flegal/1/0100019279a43fc8-0b5d06cf-d709-464b-b764-6209fab5d72f-000000/QEcuyGygblfdq_wE6BvZspnlqhY=395"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://rnpf31dg.r.us-east-1.awstrack.me/L0/https:%252F%252Fwww.hotmart.com%252Flegal/1/0100019279a43fc8-0b5d06cf-d709-464b-b764-6209fab5d72f-000000/QEcuyGygblfdq_wE6BvZspnlqhY%3D395&amp;source=gmail&amp;ust=1731214427774000&amp;usg=AOvVaw3BKFuQTKGxW6C3vdrDRcvg"
                                >clique aqui.</a
                              >
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <img
      alt=""
      src="https://ci3.googleusercontent.com/meips/ADKq_Nby1ftOvaMYzTN8dAs3qR7orU34qD8bgqQiis1eBHSVoD6qW0RC0vUjvaDtfsdu_cWlTEnSwBkYdEVUDR5IiMvODYPqfHHlW-eILg7IMilEzXTGSBiGGXJNkoVeJv44Rw_2EvcJsUL64j7pNdoASfDLGqGYxEuLdZSzhe1lINtdqTI7nZwQriSPQ7W9d3SnceWnDqgDVunDeZ6RgGLv-A=s0-d-e1-ft#https://rnpf31dg.r.us-east-1.awstrack.me/I0/0100019279a43fc8-0b5d06cf-d709-464b-b764-6209fab5d72f-000000/Hp3VsoHWdBoiMmjPLSPtl_HLZQk=395"
      style="display: none; width: 1px; height: 1px"
      class="CToWUd"
      data-bit="iit"
    />
    <div class="yj6qo"></div>
    <div class="adL"></div>
  </body>
</html>
